/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 may. 2021, 10:38:07
    Author     : isidro-bellon
*/

/* FUENTES*/
@font-face {
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GENERALES*/
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;
}

.clearfix {
    clear: both;
    float: none;
}

body {
    background: url(../img/cubes.png) #F4F4F4;
}

